.main {
  font-family: 'Avenir Next', sans-serif;
  text-align: center;
}

.heading-title {
    margin: auto;
    font-size: 60px;
  text-align: center;
}
body {
  text-align: center;
  margin: auto;
}
p{
  background-color: #e6deb1;
  color: black;
  padding 0px 250px;
  margin 10px;
  
}
