.main {
  font-family: 'Avenir Next', sans-serif;
  text-align: center;
}

.heading-title {
    margin: auto;
    font-size: 60px;
  text-align: center;
}
p{
  background-color: #e6deb1;
  color: black;
}
